*
!icons

!.gitignore
!about-component
!about-image.png
!about-image2.png
!ava-dummy.png
!arrow-right.svg
!arrow-up-right.svg
!arrow-up-right-w.svg
!basemap-image.png
!bg-auth.jpg
!bg-career.jpg
!bg-contact-us.jpg
!bg-e-procurement.jpg
!bg-our-services.png
!close-x.svg
!client.png
!cover-404.jpg
!hamburger-menu.svg
!hero-banner.jpg
!home-operations.jpg
!instagram.ico
!line-odd.svg
!line-even.svg
!linkedin.ico
!loading-screen.gif
!logo.png
!logo-ig.svg
!logo-yt.svg
!logo-li.svg
!logo-dark.png
!logo-white.png
!marker.svg
!operations-1.jpg
!operations-2.jpg
!operations-3.jpg
!operations-4.jpg
!our-career-1.jpg
!our-career-2.jpg
!our-career-3.jpg
!our-career-4.jpg
!our-career-5.jpg
!our-career-6.jpg
!our-career-7.jpg
!seo-cover.png
!services-slide1.png
!services-slide2.png
!services-slide3.png
!services-slide4.png
!services-slider1.jpg
!services-slider2.jpg
!services-slider3.jpg
!services-slider4.jpg
!services-slider1.png
!services-slider2.png
!services-slider3.png
!services-slider4.png
!spinner.svg
!times.svg
!milestone-1.jpg
!milestone-2.jpg
!milestone-3.jpg
!milestone-4.jpg
