$white: #FFF !default;

// Breakpoints
$bp-xxs: 376px !default;
$bp-xs: 575px !default;
$bp-sm: 767px !default;
$bp-md: 992px !default;
$bp-lg: 1200px !default;
$bp-xl: 1366px !default;
$bp-xxl: 1440px !default;

// Colours
$primary: #034E79 !default;
$secondary: #526670 !default;
$tertiary: #011018 !default;
$quaternary: #E8EBED !default;
